<section class="profile-box">
    <ul class="profile-account-navs">
        <li class="profile-account-nav-item navigation-link-dashboard">
            <a href="#" class="active"><i class="mdi mdi-account-outline"></i>
                پروفایل
            </a>
        </li>
        <li class="profile-account-nav-item navigation-link-dashboard">
            <a href="#" class=""><i class="mdi mdi-cart"></i>
                همه سفارش ها
            </a>
        </li>
        <li class="profile-account-nav-item navigation-link-dashboard">
            <a href="#" class=""><i class="mdi mdi-heart"></i>
                لیست علاقه مندی
            </a>
        </li>
        <li class="profile-account-nav-item navigation-link-dashboard">
            <a href="#" class=""><i class="mdi mdi-map-outline"></i>
                آدرس ها
            </a>
        </li>
        <li class="profile-account-nav-item navigation-link-dashboard">
            <a href="#" class=""><i class="mdi mdi-email-open-outline"></i>
                نظرات
            </a>
        </li>
        <li class="profile-account-nav-item navigation-link-dashboard">
            <a href="#" class=""><i class="mdi mdi-tooltip-text-outline"></i>
                اطلاعات حساب
            </a>
        </li>
    </ul>
</section>