{% extends 'base.html' %}
{% load static %}


{% block title %} 
صفحه ورود
{% endblock title %}



{% block extra_css %}

<link rel="stylesheet" href="{% static 'css/output.css' %}">
<link rel="stylesheet" href="{% static 'css/font.css' %}">
<link rel="stylesheet" href="{% static 'css/app.css' %}">
{% endblock extra_css %}
{% block extra_css_no_compress %}
{% endblock extra_css_no_compress %}


{% block content %}

<!-- login----------------------------------->
<div class="container">
    <div class="row">
        <div class="col-lg">
            <section class="page-account-box">
                <div class="col-lg-6 col-md-6 col-xs-12 mx-auto">
                    <div class="ds-userlogin">
                        <a href="#" class="account-box-logo">digismart</a>
                        <div class="account-box">
                            <div class="account-box-headline">
                                <a href="login.html" class="login-ds active">
                                    <span class="title">ورود</span>
                                    <span class="sub-title">به کالامارکت</span>
                                </a>
                                <a href="register.html" class="register-ds">
                                    <span class="title">ثبت نام</span>
                                    <span class="sub-title">در کالامارکت</span>
                                </a>
                            </div>
                            <div class="Login-to-account mt-4">
                                <div class="account-box-content">
                                    <h4>ورود به حساب کاربری</h4>
                                    <form action="{% url 'accounts:login' %}" method="post" class="form-account text-right">
                                        {% csrf_token %}
                                        <div class="form-account-title">
                                            <label for="email-phone">ایمیل / شماره موبایل</label>
                                            <input type="text" class="number-email-input" id="email-phone" name="username">
                                        </div>
                                        <div class="form-account-title">
                                            <label for="password">رمز عبور</label>
                                            <a href="#" class="account-link-password">رمز خود را فراموش کرده ام</a>
                                            <input type="password" class="password-input" name="password">
                                        </div>
                                        <div class="form-auth-row">
                                            <label for="#" class="ui-checkbox mt-1">
                                                <input type="checkbox" value="1" name="login" id="remember">
                                                <span class="ui-checkbox-check"></span>
                                            </label>
                                            <label for="remember" class="remember-me mr-0">مرا به خاطر بسپار</label>
                                        </div>
                                        <div class="form-row-account">
                                            <button class="btn btn-primary btn-login" type="submit">ورود به کالامارکت</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<!-- login----------------------------------->
                   
<!-- scroll_Progress------------------------->
<div class="progress-wrap">
    <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
        <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98"/>
    </svg>
</div>
<!-- scroll_Progress------------------------->

{% endblock content %}


{% block extra_js %}
{% endblock extra_js %}
{% block extra_js_no_compress %}
{% endblock extra_js_no_compress %}
